table>tr>td {
    padding: 5px;
}
.mr-10 {
    margin-right: 10px;
}
.m-15 {
    margin: 1rem;
}
.cash {
    width: 20px;
    height: 20px;
    color: steelblue;
    margin-right: 5px;
}
.dotted {
    border-top-width: 2px!important;
    border-top-style: dashed!important;
}
.f-10 {
    font-size: 10px;
    white-space: nowrap;
    text-align: center;
}
.fa-md {
    font-size: medium!important;
}

.cc{
    font-size: 1rem;
    line-height: 2.5rem;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
 }

 $file-type-area-bg:#eeeeee;
$file-type-dotted-area:#c8c8c8;
$border-radius:8px;

.file-type {
    background-color: $file-type-area-bg;
    border: 3px dotted $file-type-dotted-area;
    display: block;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: $border-radius;
}

.gene-file-upload {
    button {
        mat-button-ripple mat-ripple {
            opacity: 0.7 !important;
            cursor: not-allowed !important;
        }
    }
    [ng-reflect-trigger="[object HTMLButtonElement]"] {
        opacity: 1 !important;
        cursor: pointer !important;
    }
}
.app-dark{
    .file-type{
        background-color: transparent;
    }
}
.or{
    font-weight: bold;
}