.addOrder_cont{
    display: flex;
    width:100%;
    height: calc(100% - 70px);
    overflow: auto;
    .displayAddress{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding:0.25rem;
        align-items: center;
        .tit{
           font-weight: 600; 
           text-align: right;
           width: 15%;
           padding-right: 2rem;
        }
        .val{
            font-size: 14px;
        }
    }
    .gene-form-wizard {
        .mat-tab-label-active{
            background: #ecf1f3 !important;
            color: #000!important;
            .mat-tab-label-content::first-letter {
                font-size: 200% !important;
                color: #8A2BE2 !important;
              }
        }
        .wizard_num{
            background-color:#1565c0;
            width:1rem;
            height:1rem;
            border-radius: 20px;
            color:#fff;
        }
    }
}

.mat-tab-body-content{
    height: calc(100% - 118px) !important;
}
.mat-form-field-infix {
  border-top: 0em solid transparent !important;
}

.mrgn-b-xl, .mrgn-y-xl {
  margin: 2rem 0 6rem 0 !important;
  text-align: center;
  button {
      margin: 0 0.5rem;
  }
}

[mat-raised-button],[mat-button] {
    margin: 0 0.5rem;
}
.mat-form-field {
  width: 45% !important;
  margin: 0 1rem !important;
}
.mat-checkbox{
    margin-left: 1rem;
}
.mrgn-md {
    margin:1rem;
}
.mat-browse {
  margin-top: 1rem;
}
.mat-radio-button {
  margin: 0 0.6rem;
}
