<div id="variations" class="mat-card">
  <div class="gene-card-title">
    <div fxLayout="row" fxLayoutAlign="start center" style="text-align: center;">
      <h5>Are you sure you want to logout</h5>
    </div>
    <mat-divider></mat-divider>
  </div>
  <div class="gene-card-content" style="text-align: center;">
      <div class="mrgn-b-xl detail-btns">
        <button mat-flat-button class="mat-focus-indicator mat-flat-button mat-button-base gene-btn-sm btn-primary success-bg mr-2" (click)="LogoutClicked()">Logout</button>
      </div>
  </div>
</div>
