<div class="mat-card">
    <div fxLayout="row wrap" fxLayoutAlign="space-between" class="listView_toolBar">
        <div fxLayoutAlign="start center" fxFlex="100" style="background: white;">
            <div fxLayoutAlign="start center" fxFlex="70">
                <div fxLayoutAlign="center center" fxFlex="30" fxLayout="column">
                    <div *ngIf="!isMaximize" fxFlex="100" fxLayoutAlign="center center">
                        <app-wheel [segmentData]="dataSource" [width]="wheelConfig.width" [height]="wheelConfig.height"
                            [textSize]="wheelConfig.textSize" [repeat]="wheelConfig.repeat" [action]="action"
                            [numSegments]="dataSource.length" [spinTime]="wheelConfig.spinTime"
                            [fairMode]="wheelConfig.fairMode" [segment]="wheelConfig.segment"
                            (result)="wheelResult($event)"></app-wheel>
                        <span class="material-icons maxi" (click)="openWheel(wheelBox)"
                            title="Maximize">fullscreen</span>
                    </div>
                </div>
                <div fxLayoutAlign="start start">
                    <table style="margin-left: 10px;">
                        <tr>
                            <td colspan="2" style="font-weight: bold;font-size: large;">
                                <span>{{row.title}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td> <span style="font-weight: bold;">
                                    <mat-icon fontSet="fontawesome" fontIcon="fa-envelope" style="color: midnightblue;">
                                    </mat-icon>Text Size ({{wheelConfig.textSize}})
                                </span></td>
                            <td>: <mat-slider [(ngModel)]="wheelConfig.textSize" thumbLabel tickInterval="1" min="7"
                                    max="50"></mat-slider>
                            </td>
                        </tr>
                        <tr>
                            <td> <span style="font-weight: bold;">
                                    <mat-icon fontSet="fontawesome" fontIcon="fa-map" style="color: midnightblue;">
                                    </mat-icon>Slice Repeat ({{wheelConfig.repeat}})
                                </span></td>
                            <td>: <mat-slider [(ngModel)]="wheelConfig.repeat" thumbLabel tickInterval="1" min="1"
                                    [max]="getMaxRepeat()"></mat-slider>
                            </td>
                        </tr>
                        <tr>
                            <td> <span style="font-weight: bold;">
                                    <mat-icon fontSet="fontawesome" fontIcon="fa-globe" style="color: midnightblue;">
                                    </mat-icon>Spin Time ({{wheelConfig.spinTime}}x)
                                </span></td>
                            <td>: <mat-slider [(ngModel)]="wheelConfig.spinTime" thumbLabel tickInterval="1" min="1"
                                    max="7"></mat-slider>
                            </td>
                        </tr>
                        <tr>
                            <td> <span style="font-weight: bold;">
                                    <mat-icon fontSet="fontawesome" fontIcon="fa-map-marker"
                                        style="color: midnightblue;">
                                    </mat-icon>Fair Mode
                                </span></td>
                            <td>: <mat-slide-toggle [(ngModel)]="wheelConfig.fairMode"></mat-slide-toggle>
                                <mat-form-field class="mrgn-l-sm" *ngIf="!wheelConfig.fairMode">
                                    <mat-label>Select Segment</mat-label>
                                    <mat-select [(ngModel)]="wheelConfig.segment">
                                        <mat-option *ngFor="let data of dataSource" [value]="data.name">{{data.name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div fxLayoutAlign="center center" class="f-10" fxFlex="30" fxLayout="column">
                <div fxLayout="row">
                    <div fxLayout="column" fxFlex="42">
                        <div fxFlex="100">
                            <div class="mat-card">
                                <div><span>Creation Date</span></div>
                                <div><b>15/Mar/2021 02:07:59 PM</b></div>
                            </div>
                        </div>
                        <div fxFlex="100">
                            <div class="mat-card">
                                <div><span>Active</span></div>
                                <div>
                                    <mat-slide-toggle [(ngModel)]="triggerAll.value" (change)="toggle($event,true)">
                                    </mat-slide-toggle>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div fxLayout="column" fxFlex="58">
                        <div fxFlex="100">
                            <div class="mat-card">
                                <div><span>Upcoming Schedule Date & Time</span></div>
                                <div><b>15/Mar/2021 02:07:59 PM</b></div>
                            </div>
                        </div>
                        <div fxFlex="100">
                            <div class="mat-card">
                                <div><span>Choice</span></div>
                                <div>
                                    <span>
                                        <mat-icon class="fa-md" fontSet="fontawesome" fontIcon="fa-clone"></mat-icon>
                                        <mat-icon class="fa-md" fontSet="fontawesome" fontIcon="fa-envelope"></mat-icon>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div fxLayout="row wrap" fxLayoutAlign="space-between" class="listView_toolBar">
    <div fxLayout="column" fxFlex="70%">
        <div class="mat-card">
            <div class="gene-card-title">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <svg class="cash" viewBox="0 0 24 24">
                        <path fill="currentColor"
                            d="M3,6H21V18H3V6M12,9A3,3 0 0,1 15,12A3,3 0 0,1 12,15A3,3 0 0,1 9,12A3,3 0 0,1 12,9M7,8A2,2 0 0,1 5,10V14A2,2 0 0,1 7,16H17A2,2 0 0,1 19,14V10A2,2 0 0,1 17,8H7Z" />
                    </svg>
                    <b>Slices (10/12)</b>
                    <span fxFlex></span>
                </div>
                <mat-icon class="mat-icon gene-text-xl point add-Btn" title="Add"
                    (click)="openModel(null,colorPicker,false)">add </mat-icon>
                <mat-divider></mat-divider>
            </div>
            <div class="gene-card-content">
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef> ID </th>
                        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                    </ng-container>
                    <ng-container matColumnDef="button">
                        <th mat-header-cell *matHeaderCellDef> Preview </th>
                        <td mat-cell *matCellDef="let element">
                            <button class="left-border" [ngClass]="{ 'img-Btn': element.image }"
                                [style.background-image]="'url(' + element.image  + ')'"
                                [style.border-left-color]="lightenColor(element.bgColor, 20)"
                                [style.color]="element.textColor" [style.background-color]="element.bgColor"
                                mat-raised-button mat-button-sm>{{element.name}}</button>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef>Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>
                    <ng-container matColumnDef="textColor">
                        <th mat-header-cell *matHeaderCellDef> Text Colour </th>
                        <td mat-cell *matCellDef="let element"> {{element.textColor}} </td>
                    </ng-container>
                    <ng-container matColumnDef="bgColor">
                        <th mat-header-cell *matHeaderCellDef> BG Colour </th>
                        <td mat-cell *matCellDef="let element"> {{element.bgColor}} </td>
                    </ng-container>
                    <ng-container matColumnDef="image">
                        <th mat-header-cell *matHeaderCellDef> Image </th>
                        <td mat-cell *matCellDef="let element">
                            <img class="img-circle" src="{{element.image}}"
                                onerror="this.src='./assets/img/noImg_placeholder.jpeg';this.onerror='';" height="50"
                                width="50">
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef> Status </th>
                        <td mat-cell *matCellDef="let element">
                            <mat-slide-toggle [(ngModel)]="element.status"></mat-slide-toggle>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef> Action </th>
                        <td mat-cell *matCellDef="let element">
                            <mat-icon class="mat-icon gene-text-xl point" title="Edit"
                                (click)="openModel(element,colorPicker, true)">edit
                            </mat-icon>
                            <mat-icon class="mat-icon gene-text-xl point" title="Delete"
                                (click)="formData = element;onDelete(confirmationModel)">
                                delete
                            </mat-icon>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
        </div>
    </div>
    <div fxLayout="column" fxFlex="30%">
        <div fxFlex="100">
            <div class="mat-card">
                <div class="gene-card-title">
                    <div fxLayout="row" fxLayoutAlign="start start">
                        <svg class="cash" viewBox="0 0 24 24">
                            <path fill="currentColor"
                                d="M3,6H21V18H3V6M12,9A3,3 0 0,1 15,12A3,3 0 0,1 12,15A3,3 0 0,1 9,12A3,3 0 0,1 12,9M7,8A2,2 0 0,1 5,10V14A2,2 0 0,1 7,16H17A2,2 0 0,1 19,14V10A2,2 0 0,1 17,8H7Z" />
                        </svg>
                        <b>Devices</b>
                        <span fxFlex></span>
                    </div>
                    <mat-divider></mat-divider>
                </div>
                <div class="gene-card-content" *ngFor="let device of deviceList">
                    <div fxLayout="row" fxLayoutAlign="space-between">
                        <b>{{device.code}}</b>
                        <span>Active <mat-slide-toggle (change)="toggle($event,false,device)"
                                [(ngModel)]="device.value"></mat-slide-toggle></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<input #fileToUpload (change)="onFileUploaded($event)" type="file" accept="image/*" style="display:none;" />
<ng-template #colorPicker let-d="dismiss">
    <div class="mrgn-b-xs">
        <h2 mat-dialog-title>{{isEdit ? 'Edit Slice' : 'New Slice' }}</h2>
        <button mat-fab-button mat-button-sm color="warn" class="close" (click)="closeModel()">x</button>
    </div>
    <mat-dialog-content>
        <h5 class="center">
            <button mat-raised-button mat-button-sm class="left-border" [ngClass]="{ 'img-Btn': formData.image }"
                [style.background-image]="'url(' + formData.image  + ')'"
                [style.border-left-color]="lightenColor(formData.bgColor, 20)" [style.color]="formData.textColor"
                [style.background-color]="formData.bgColor">{{formData.name}}</button>
        </h5>
        <mat-form-field class="full-wid">
            <mat-label>Slice Text</mat-label>
            <input class="mrgn-t-none" name="sliceText{{isEdit}}" matInput [(ngModel)]="formData.name" required
                #sliceText>
        </mat-form-field>
        <mat-error *ngIf="!formData.name">
            Slice Text is <strong>required</strong>
        </mat-error>
        <div>Text Colour</div>
        <div class="opened">
            <div class="colors">
                <ng-container *ngFor="let color of textColors">
                    <div *ngIf="color.code == 'paint'" class="round-color" style="background: green">
                        <mat-icon class="mat-icon selected-Icon">palette </mat-icon>
                    </div>
                    <div *ngIf="color.code == 'time'" class="round-color" style="background: #92998e">
                        <mat-icon class="mat-icon selected-Icon">schedule </mat-icon>
                    </div>
                    <div *ngIf="color.code == 'brush'" class="round-color" style="background: #92998e"
                        [(colorPicker)]="formData.textColor">
                        <mat-icon class="mat-icon selected-Icon">auto_fix_high </mat-icon>
                    </div>
                    <div *ngIf="color.code !== 'paint' && color.code !== 'time' && color.code !== 'brush'"
                        class="round-color" [style.background-color]="color.code"
                        (click)="formData.textColor = color.code">
                        <mat-icon *ngIf="color.code == formData.textColor" class="mat-icon selected-Icon">done
                        </mat-icon>
                    </div>
                </ng-container>
            </div>
        </div>
        <mat-divider class="mrgn-b-md"></mat-divider>
        <div>Background Colour</div>
        <div class="opened">
            <div class="colors">
                <ng-container *ngFor="let color of bgColors">
                    <div *ngIf="color.code == 'paint'" class="round-color" style="background: green">
                        <mat-icon class="mat-icon selected-Icon">palette </mat-icon>
                    </div>
                    <div *ngIf="color.code == 'time'" class="round-color" style="background: #92998e">
                        <mat-icon class="mat-icon selected-Icon">schedule </mat-icon>
                    </div>
                    <div *ngIf="color.code == 'brush'" class="round-color" style="background: #92998e"
                        [(colorPicker)]="formData.bgColor">
                        <mat-icon class="mat-icon selected-Icon">auto_fix_high </mat-icon>
                    </div>
                    <div *ngIf="color.code !== 'paint' && color.code !== 'time' && color.code !== 'brush'"
                        class="round-color" [style.background-color]="color.code"
                        (click)="formData.bgColor = color.code">
                        <mat-icon *ngIf="color.code == formData.bgColor" class="mat-icon selected-Icon">done</mat-icon>
                    </div>
                </ng-container>
            </div>
        </div>
        <mat-divider class="mrgn-b-md"></mat-divider>
        <div>Image
            <div class="product-image-gallery-item add-icon">
                <a id="img{{isEdit}}" class="p-link border-active" href="javascript:void(0)">
                    <img [src]="formData.image" alt="" width="500" height="200">
                </a>
                <button *ngIf="!formData.image" (click)="triggerFileClick()" class="add-btn pointer-cursor hover-focus"
                    md-mini-fab type="button">
                    <mat-icon>add</mat-icon>
                </button>
                <button *ngIf="formData.image" (click)="triggerDeleteImgClick()"
                    class="delete-btn add-btn pointer-cursor hover-focus" md-mini-fab type="button">
                    <mat-icon>remove</mat-icon>
                </button>
                <button *ngIf="formData.image" (click)="previewImage(formData.image)"
                    class="eye-btn add-btn pointer-cursor hover-focus" md-mini-fab type="button">
                    <mat-icon>remove_red_eye</mat-icon>
                </button>
            </div>
        </div>
        <mat-divider class="mrgn-b-md"></mat-divider>

    </mat-dialog-content>
    <mat-dialog-actions class="mrgn-b-xs pad-b-none mrgn-t-md center">
        <button *ngIf="isEdit" class="cust_line_btn txt_blue mrgn-l-sm"
            (click)="onDelete(confirmationModel)">Delete</button>
        <button class="cust_line_btn txt_blue mrgn-l-sm" (click)="closeModel()">Cancel</button>
        <button class="cust_line_btn txt_blue mrgn-l-sm" [disabled]="!formData.name" (click)="apply()">OK</button>
    </mat-dialog-actions>
</ng-template>

<ng-template #confirmationModel let-d="dismiss">
    <div class="mrgn-b-xs cont" id="wheel">
        <h2 mat-dialog-title>Confirmation</h2>
        <button mat-fab-button mat-button-sm color="warn" class="close" (click)="closeModel()">x</button>
    </div>
    <mat-dialog-content>
        <h4>Are you sure you want to delete this list permanently?</h4>
    </mat-dialog-content>
    <mat-dialog-actions class="mrgn-b-xs pad-b-none mrgn-t-md center">
        <button class="cust_line_btn txt_blue mrgn-l-sm" (click)="delete(formData.id)">OK</button>
        <button class="cust_line_btn txt_blue mrgn-l-sm" (click)="closeModel()">Cancel</button>
    </mat-dialog-actions>
</ng-template>

<ng-template #wheelBox let-d="dismiss">
    <div class="mrgn-b-xs cont" id="wheel">
        <h2 mat-dialog-title>Wheel Spinner</h2>
        <button mat-fab-button mat-button-sm color="warn" class="close" (click)="closeModel()">x</button>
    </div>
    <mat-dialog-content>
        <app-wheel class="center-wheel" *ngIf="isMaximize" [segmentData]="dataSource" width="650" height="650"
            [segment]="wheelConfig.segment" [textSize]="wheelConfig.textSize" [repeat]="wheelConfig.repeat"
            [action]="action" [numSegments]="dataSource.length" [spinTime]="wheelConfig.spinTime"
            [fairMode]="wheelConfig.fairMode" (result)="wheelResult($event)"></app-wheel>
    </mat-dialog-content>
</ng-template>