<!-- <div id="main-app" class="app sidebar-color-dark header-color-dark side-panel-opened"
    [class.collapsed-sidebar]="sidenavOpen == false">
    <mat-sidenav-container class="mat-drawer-container mat-sidenav-container gene-container mat-drawer-transition">
        <mat-sidenav #sidenav opened mode="side"
            class="mat-drawer mat-sidenav sidebar-area ng-tns-c164-0 ng-trigger ng-trigger-transform mat-drawer-side  mat-drawer-opened"
            style="transform: none; visibility: visible;">
            <ms-side-bar [menuList]="menuList"></ms-side-bar>
        </mat-sidenav>
        <mat-toolbar class="gene-header-toolbar">
            <div class="gene-ham-icon" tourAnchor="start.tour">
                <button class="" mat-mini-fab color="primary" mat-card-icon (click)="toggleSidebar()"
                    style="box-shadow: none;">
                    <img *ngIf="branchInfo" class="img-circle" [src]="branchInfo.BranchAvatar" alt="user list image">
                    <mat-icon>menu</mat-icon>
                </button>
            </div>
            <a class="navbar-brand" href="#">{{'QTP Mart'}}</a>
        </mat-toolbar>
        <div class="gene-base-container">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-container>
</div> -->

<div id="main-app" class="app sidebar-color-dark header-color-dark side-panel-opened"
    [class.collapsed-sidebar]="sidenavOpen == false">
    <mat-sidenav-container class="gene-container">
        <mat-sidenav #sidenav opened mode="side" class="sidebar-area">
            <ms-side-bar [menuList]="menuList" [verticalMenuStatus]=true></ms-side-bar>
        </mat-sidenav>
        <mat-toolbar class="gene-header-toolbar">
            <!-- <div class="gene-logo mat-pad-none"><img src="assets/img/logo.png" width="120" height="27"></div> -->
            <div class="gene-ham-icon" tourAnchor="start.tour">
                <button class="" mat-mini-fab color="primary" mat-card-icon (click)="toggleSidebar()">
                    <img *ngIf="branchInfo" class="img-circle" [src]="branchInfo.BranchAvatar" alt="user list image">
                    <mat-icon class="menuIcon">menu</mat-icon>
                </button>
            </div>
            <a class="nav navbar-brand" href="#">{{'QTP Mart'}}</a>
            <breadcrumb class="gene-breadcrumbs"></breadcrumb>
            <span fxFlex></span>
        </mat-toolbar>
        <div class="gene-base-container nav">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-container>
</div>